* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background: url(images/bg-pattern-top-desktop.svg) no-repeat,
    url(images/bg-pattern-bottom-desktop.svg) no-repeat;
}
.container {
  padding: 2rem 7rem;
}

.top {
  display: flex;
  /* border: 1px solid red; */
  margin-bottom: 3rem;
}

.block-left {
  /* border: 1px solid red; */
  flex-basis: 50%;
}
.block-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex: auto;
}

.block-right span {
  /* background: hsl(333, 80%, 67%); */
  /* opacity: 0.5; */
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom .item {
  padding: 2rem;
  width: 30%;
  background: hsl(300, 43%, 22%);
  border-radius: 10px;
}

.pp img {
  width: 40px;
  border-radius: 50%;
  display: flex;
}

.item-top {
  display: flex;
  padding-bottom: 1rem;
}

.item-name {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  color: white;
  font-weight: 400;
}

.item2 {
  position: relative;
  top: 20px;
}

.item3 {
  position: relative;
  top: 40px;
}

.verified {
  color: hsl(333, 80%, 67%);
  opacity: 0.7;
}

.block-left p {
  line-height: 1.5rem;
}
h2 {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  font-size: 50px;
  padding-bottom: 1rem;
}

.block-right .item-star {
  display: flex;
  align-items: center;
  height: 15%;
  /* border: 1px solid red; */
  width: 75%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  background: hsl(300, 24%, 96%);
}

.item-star2 {
  position: relative;
  left: 30px;
}

.item-star3 {
  position: relative;
  left: 60px;
}

.item-star span {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
}

.item-star img {
  padding-right: 0.3rem;
}
